@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.feed-page {
  margin: 70px;
  /* display: flex; */
  float: left;
  width: 700px;
  /* background-color: rgb(246, 234, 234);
  border-radius: 30px;
  background-size:cover;
  border-spacing: 30px; */
  
  /* position: absolute; */
  /* vertical-align: middle; */
  /* align-items: right; */
}

.feed-profile {
  /* display: inline-block; */
  margin-top: 80px;
  margin-left: 50px;
  width: 250px;
  height: 100%;
  float: left;
  height:100%;
  /* flex: 1; */

  /* display: grid;  */
    /* grid-template-columns: 1fr 1fr;  */
    /* grid-gap: 20px;  */
    border: dotted 25px rgb(162, 92, 92); 
    padding: 20px;
    padding-top: 10px;
    background-color: rgb(246, 234, 234);
    border-radius: 30px;
    /* width: 50%;  */
  /* position: absolute; */
  /* vertical-align: middle; */
}

.h2 {
  color:  rgb(126, 112, 112); 
  border-bottom: 4px solid

}

.h3 {
  color:rgb(173, 84, 84);
  font-size: 23px;
}

.h5 {
  color:rgb(127, 127, 127)
}

.time-stamp {
  color:rgb(127, 127, 127);
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
  /* float:right; */
  /* align-content: right */
}

.comment {
  margin-bottom: 5px;
  margin-top: 5px;
  margin-left: 15px;

}

.like-button {
  margin-bottom: 5px;
  margin-left: 15px;
  background-color: rgb(239, 217, 237);
  border-radius: 50px;
  font-weight: 50px;
  border-color: rgb(253, 253, 254);
  color:rgb(134, 22, 111)
}

.post {
  border: 10px double rgb(242, 214, 214); 
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: rgb(244, 238, 238);
    /* border-radius: 30px; */
}

.post-input {
  margin-bottom: 5px;
  margin-left: 15px;
  color:rgb(196, 51, 51)
}

.logout-button {
  background-color: rgb(239, 217, 237);
  border-color: rgb(253, 253, 254);
  border-radius: 50px;
  width:80px;
  height: 30px;
  margin-right : 10px;
  position:absolute;
  top: 20px;
  right: 30px;
}

.back-button {
  background-color: rgb(239, 217, 237);
  border-color: rgb(253, 253, 254);
  border-radius: 50px;
  width:80px;
  height: 30px; 
  margin-left : 30px;
  /* position:absolute; */
  top: 60px;
  left: 50px;
}

.h1 {
  color:rgb(223, 97, 97);
  font-size:40px;
  margin-left: 100px;
  margin-top: 50px;
}

.link {
  color:rgb(197, 53, 53);
  /* float: bottom; */
  margin-top: 15px;
  text-align: center;
  display:block;
  width: 80px;
}

.feed-input {
  width: 80%;
  height: 50px;
  /* border: 50px; */
  border-color: rgb(219, 132, 132);
}

.feed-button {
  margin-left: 30px;
  height: 30px;
  width: 70px;
  /* display:grid */
  background-color: rgb(239, 217, 237);
  border-color: rgb(253, 253, 254);
  border-radius: 50px;
}

.comment-input {
  width: 50%;
  height: 20px;
  /* display:grid; */
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;

}

.comment-button {
  margin-left:10px;
  height: 25px;
  width: 70px;
  /* display:grid */
  background-color: rgb(239, 217, 237);
  border-color: rgb(253, 253, 254);
  border-radius: 50px;
}

.profile-post {

}

.user-post {
  border: 10px double rgb(242, 214, 214); 
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  /* border: 80%; */
  width: 600px;
  margin-left: 80px;
}